<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Admin</title>
    </head>

    <body>
        <h1>Admin Page for Class Instagrams</h1>
        <form method="post" action="/admin">
            Password:<input type="text" id="password" name="password">
            <button type="submit">Go</button>
        </form>
    </body>
</html>
