<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin</title>
</head>

<body>
    <h1>Admin Page</h1>
    <h3>Pictures in Queue</h3>
    <div class="middle">
        <img src="uploads/corona.png"><br>
        <button id="next">Next</button><button id="back">Previous</button>
    </div>
</body>

</html>
