<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Class Instagram</title>
</head>

<body>
    <h1>Welcome to Class Instagram</h1>
    <h3>What are we about?</h3>
    <p>Hello, we are a group of instagram pages waiting to promote each newly admitted student in their new school. </p>
    <h3>If you would like to post to a class instagram, select continue</h3>
    <a href="/submit"><button>Continue</button></a>
</body>

</html>
